.expense-manager-main-div {
    margin-top: 30px;
}
.expense-manager-greeting-msg {
    color: white;
    text-align: center;
}
.expense-manager-div {
    margin-top: 50px;
}
.expense-list {
    margin-top: 20px;
}