.monthly-expense-analysis-div{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.monthly-expense-analysis-description{
    text-align: center;
    color: white;
}
.monthly-expense-analysis-div .row{
    justify-content: center;
}
.monthly-expense-analysis-div p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.monthly-expense-analysis-div h3 {
    margin-top: 40px;
    margin-bottom: 40px;
}