.task-manager-main-div {
    margin-top: 30px;
}
.task-manager-greeting-msg {
    color: white;
    text-align: center;
}
.task-manager-div {
    margin-top: 50px;
}
.task-list {
    margin-top: 20px;
}
.task-list .row {
    justify-content: center;
}